$btn-std-color: #5dfed6;
$btn-hover-color: #45e6bf;
$dark-grey: #343434;
$avg-grey: #c4c4c4;
$light-grey: #e5e5e5;
$super-light-grey: #efefef;
$white: #fff;

.large-button {
  background-color: $btn-std-color;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2rem;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: default;
  color: var(--Cinza-Escuro, #343434);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  letter-spacing: 1.4px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #45e6bf;
  }

  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 390px) {
  .large-button {
    width: 266px;
  }
}
