.hero-container ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 826px;
  background-image: url("../../components/assets/hero.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vw;

  filter: grayscale(100%);
  z-index: -1;
}

.hero-container {
  background: rgba(0, 0, 0, 0.5);
  width: 1280px;
  height: 854px;
  &__text {
    h1 {
      font-size: 64px;
      color: #fff;
    }
    .evolua-text {
      color: var(--Branco, #fff);
      font-family: Bodoni Moda;
      font-size: 79px;
      font-style: italic;
      font-weight: 300;
      line-height: 72px;
      letter-spacing: -1.185px;
    }
  }
  .chat-icon {
    position: inherit;
    margin-left: 1200px;
    margin-top: 240px;
    color: none;
    background: none;
    padding: 0;
    outline: none;
    border: none;
    background-image: url("../../components/assets/chat-icon_std.svg");
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: background-image 0.3s ease;
  }

  .chat-icon:hover {
    background-image: url("../../components/assets/chat-icon_hover.svg");
  }

  .hero-container__text {
    color: var(--Branco, #fff);
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 112.5% */
    letter-spacing: -0.96px;

    h1 {
      margin-top: 180px;
      margin-left: 100px;
    }
    h5 {
      margin-left: 100px;

      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px; /* 166.667% */
      letter-spacing: -0.27px;
    }
  }

  .large-button {
    margin-left: 100px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 390px) {
  .hero-container ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../components/assets/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 844px;
    width: 390px;

    filter: grayscale(100%);
    z-index: -1;
  }

  .hero-container {
    background: rgba(0, 0, 0, 0.5);
    max-width: 390px;
    height: 844px;
    &__text {
      h1 {
        font-size: 64px;
        color: #fff;
      }

      .evolua-text {
        color: #fff;
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px; /* 128.571% */
        letter-spacing: -0.84px;
        color: #fff;
        font-family: Bodoni 72;
        font-size: 73px;
        font-style: italic;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -1.095px;
      }
    }
  }
  .chat-icon {
    margin-left: 20px;
    margin-top: 540px;
    color: none;
    background: none;
    padding: 0;
    outline: none;
    border: none;
    background-image: url("../../components/assets/chat-icon_std.svg");
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: background-image 0.3s ease;
  }

  .chat-icon:hover {
    background-image: url("../../components/assets/chat-icon_hover.svg");
  }

  .hero-container__text {
    color: var(--Branco, #fff);
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 112.5% */
    letter-spacing: -0.96px;

    h1 {
      margin-top: 180px;
      margin-left: 100px;
    }
    h5 {
      margin-left: 100px;

      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px; /* 166.667% */
      letter-spacing: -0.27px;
    }
  }

  .large-button {
    margin-top: 16px;
  }
}
