.navbar-container {
  padding: 32px;
  align-items: center;
  width: 1080px;
  justify-content: space-around;
  display: flex;
  align-items: flex-start;
  gap: 876px;
}
.navbar-container__text {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
  color: #fff;
  margin-right: -100px;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.navbar__logo {
  margin-left: 100px;
  width: 63px;
  height: 46px;
}

@media only screen and (max-width: 390px) {
  .navbar-container {
    display: flex;
    width: 330px;
    height: 43.561px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }
  .navbar-container__text {
    position: absolute;
    margin-left: 190px;
    margin-top: 50px;
  }

  .navbar__logo {
    margin-top: 50px;
    margin-left: 10px;
    width: 63px;
    height: 46px;
  }
}
