$btn-std-color: #5dfed6;
$btn-hover-color: #45e6bf;
$dark-grey: #343434;
$avg-grey: #c4c4c4;
$light-grey: #e5e5e5;
$super-light-grey: #efefef;
$white: #fff;

.send-btn {
  display: flex;
  width: 50px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: none;
  margin: 5px;
  background-color: #45e6bf;

  background-image: url("../../assets/send-btn__default.svg");
}

.send-btn:hover {
  background-color: #45e6bf;
  background-image: url("../../assets/send-btn__hover.svg");
}
