$btn-std-color: #5dfed6;
$btn-hover-color: #45e6bf;
$dark-grey: #343434;
$avg-grey: #c4c4c4;
$light-grey: #e5e5e5;
$super-light-grey: #efefef;
$white: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Roboto";
}
